include /views/mixins/input
include /views/mixins/info-result

div( ng-init="reports.showAdviserResume()" )
    .panel.panel-default.goals-report#goals-report( ng-if="reports.selected_type" )
        .panel-heading
            .panel-title
                span Reporte de metas
        .panel-body

            // Adviser info
            .adviser-info
                strong ASESOR:
                |  {{ reports.name}}  
                |  ({{ reports.idCliente}}): NIVEL: {{reports.$resolve.$stateParams.estado}}

            // Spinner
            .loader-wrapper( ng-if="!reports.reports_info && !reports.finish" )
                .spinner

            // No results
            .no-results( ng-if="!reports.reports_info && reports.finish" )
                +noResults("no-data")

            div( ng-if="reports.reports_info" )
                .chart-wrapper
                    .spinner
                    line-chart( model="reports.reports_info" )
                ul.legend
                    li
                        .bullet
                        strong % DE ALCANCE
                        | Resultado preliminar de avance de contactos. El resultado definitivo es calculado a fin de mes por las 치reas involucradas.
                    li.current
                        .bullet
                        strong % DE ALCANCE DEL MES EN CURSO
                        | El c치lculo del % no est치 al 100, debido a que el mes no ha concluido.

                p.note( ng-if="reports.advisers_range" )
                    | * Para
                    strong  VER EL DETALLE
                    |  de cada mes, posicionate en la gr치fica.
                .details-wrapper
                    .panel-default.advisors-details( ng-if="reports.advisers_range" )
                        .panel-heading
                            .panel-title
                                span Detalle
                        .panel-body
                                // Spinner
                                .loader-wrapper( ng-if="!reports.advisers" )
                                    .spinner

                                // No results
                                .no-results( ng-if="reports.advisers.length === 0" )
                                    +noResults("no-data")

                                // Search list
                                search-list( ng-if="reports.advisers.length > 0" info="reports.advisers" tmpl="binnacle-reports.html" estado="reports.estado+1"  )
                    

    // Back
    .back    

        a.btn.btn-primary( ng-if="reports.estado == 0"  ui-sref="binnacle.commercial.reports" ) REGRESAR
        a.btn.btn-primary( ng-if="reports.estado >= 1" ui-sref="binnacle.commercial.reports.id( { id: reports.idCliente ,estado: reports.estado-1,action:1,employee:reports.name} )" ) REGRESAR
