include /views/mixins/tables
include /views/mixins/info-result

div.container-table-investment
    table.table-investment( ng-class="{ 'funds': !type, 'instruments': type }" )
        thead
            tr(ng-if="type === '2'")
                +thCaretGral( 'Fondo', 'emissionID')
                +thCaretGral( 'Serie', 'serie' )
                +thCaretGral( 'Posición', 'titlesQty' )
                +thCaretGral( 'Costo total', 'cost' )
                +thCaretGral( 'Importe total', 'amount' )
                +thCaretGral( 'Precio actual', 'currentPrice' )
                +thCaretGral( 'Plus-Minusvalía', 'appreciation' )
            tr(ng-if="type === '1'")
                +thCaretGral( 'Emisión', 'emissionID' )
                +thCaretGral( 'Costo total', 'cost' )
                +thCaretGral( 'Importe total', 'amount' )
                +thCaretGral( 'Precio actual', 'currentPrice' )
                +thCaretGral( 'Titulos', 'titlesQty' )
                +thCaretGral( 'Titulos en Garantía', 'warrantyTitles' )
                +thCaretGral( 'Tasa cupón', 'couponRate' )
                +thCaretGral( 'Tipo', 'positionType' )
        tbody
            +trLoading( 154, 'loading' )( colspan='8' )
            tr( ng-if="!loading" style='cursor:pointer' )
                td(colspan="8")
                    // No results
                    .no-data( ng-if="orders.length === 0 && !loading" )
                        +noResults( 'common-msg' )( ngBindHTML="nodata" )

                    div( ng-if="orders.length !== 0" )
                        div( scrollable always-visible="true" )
                            table.table-investment(ng-if="type === '2'")
                                tr( ng-click="ChangeDoll(order)" ng-repeat="order in orders | orderBy:aux.sortType:aux.sortReverse" id="illuminate-capital-td-selected-sell" style="cursor:pointer;" )
                                    td( ng-bind="order.emissionID" )
                                    td( ng-bind="order.serie" )
                                    td( ng-bind="order.titlesQty" )
                                    td( ng-bind="order.cost | currency" )
                                    td( ng-bind="order.amount | currency" )
                                    td( ng-bind="order.currentPrice | currency" )
                                    td( ng-bind="order.appreciation | currency" )
                                        i.fa( ng-class="{'fa-arrow-circle-up': order.appreciation - order.amount > 0, 'fa-arrow-circle-down': order.appreciation - order.amount < 0, 'fa-minus-circle': order.appreciation - order.amount  === 0 }" )
                            table(ng-if="type === '1'" )
                                tr( ng-click="ChangeDoll(order)" ng-repeat="order in orders | orderBy:aux.sortType:aux.sortReverse" id="illuminate-capital-td-selected-sell" style="cursor:pointer;" )
                                    td( ng-bind="order.instrumentID" )
                                    td( ng-bind="order.cost | currency" )
                                    td( ng-bind="order.amount | currency" )
                                    td.text-left( ng-bind="order.currentPrice | currency" class="text-center")
                                    td(style="text-align:center;"  ng-bind="order.titlesQty | currency:'':0" )
                                    td(style="text-align:center;" ng-bind="order.warrantyTitles | currency:'':0" )
                                    td(style="text-align:center;" ng-bind="order.couponRate" )
                                    td( ng-bind="order.positionType" )

