div
    .wt-header
        h2.title REPORTES
    .wt-content
        div.reports
            div.contenedor
                a( ui-sref="binnacle.commercial.reports")
                    .btn-primary
                        .btn-sm
                            img(src="img/icons/bitacora_dashboard.svg")
                            | BITÁCORA
            div.contenedor
                a( ui-sref="prospects")
                    .btn-primary
                        .btn-sm
                            img(src="img/icons/bitacora_dashboard.svg")
                            | PROSPECTOS
            div.contenedor
                a( ui-sref="goals")
                    .btn-primary
                        .btn-sm
                            img(src="img/icons/bitacora_dashboard.svg")
                            | CUMPLIMIENTO DE META
            div.contenedor
                a( ui-sref="goals.reportLargeAndShort")
                    .btn-primary
                        .btn-sm
                            img(src="img/icons/bitacora_dashboard.svg")
                            | CORTOS Y LARGOS                            
