div
	canvas.chart-bar( chart-data="chartSettings.data" chart-labels="chartSettings.labels" chart-colors="chartSettings.colors" chart-options="chartSettings" )
	//- div.gc( google-chart chart="chartSettings" )