include /views/mixins/buttons
include /views/mixins/info-result

.notification
    .loader-wrapper( ng-if="lumina.modal" )
        .spinner
    form(style="margin-bottom:10px; height:40px;")
        div.input-icon
        div                     
            input(type="text" placeholder="Buscar en contenido" ng-model="contenido").form-control.search-notification-input

    div.scroll(style="overflow-x:auto;")
        table.table.is-scrollable(style="margin-bottom:2px;")
            thead
                tr
                    th Acción
                    th Estado
                    th Folio
                    th Folio Externo 
                    th Estatus Inicial
                    th Estatus Final                     
                    th Id Mensaje
                    th Fecha Notificación
                    th Tipo de producto            
                    th Motivo
                    th Comentario
                 
            tbody
                tr(ng-repeat = "notification in filtered = (lumina.listNotification | filter:contenido) track by $index")

                    td(style = "text-align:center;")                                                          
                        div(ng-if="notification.accion !== 1" ng-click = "lumina.showMessage(notification.adviserNotificationID)")
                            img( src="img/icons/icon_mas.svg"  width="20px" style="cursor:pointer; padding-right:5px;" title="Revisar texto")                    
                            span Ver mas
                        div(ng-if="notification.accion === 1" ng-click = "lumina.hideMessage(notification.adviserNotificationID)" )
                            img( src="img/icons/icon_menos.svg"  width="20px" style="cursor:pointer; padding-right:5px;" title="Disminuir texto")
                            span Ocultar
                    td(style = "text-align:center;")                     
                        span.status-notification-checked(ng-if="notification.readNotificationFlag") Revisado 
                        span.status-notification-unresolved(ng-if="!notification.readNotificationFlag") Pendiente

                    td(style = "text-align:center")
                        ng-bind-html(ng-bind-html="notification.message.orderevent.orderid | remarkText:contenido" ng-if="notification.accion === 1" )
                    td(style = "text-align:center")
                        ng-bind-html(ng-bind-html="notification.message.orderevent.foreignorderid | remarkText:contenido" ng-if="notification.accion === 1" )                    
                    td(style = "text-align:center")
                        ng-bind-html(ng-bind-html="notification.message.orderevent.orderstatusfrom | remarkText:contenido" ng-if="notification.accion === 1" ) 
                    td(style = "text-align:center")
                        ng-bind-html(ng-bind-html="notification.message.orderevent.orderstatusto | remarkText:contenido" ng-if="notification.accion === 1" )                                                                                                                                                               
                    td(style = "text-align:center")
                        ng-bind-html(ng-bind-html="notification.message.orderevent.messageid | remarkText:contenido" )
                    td(style = "text-align:center")
                        ng-bind-html(ng-bind-html="notification.registryDateTime | date:'dd-MM-yyyy HH:mm:ss' | remarkText:contenido")
                    td 
                        ng-bind-html(ng-bind-html="notification.message.orderevent.producttype | remarkText:contenido")
                    td
                        ng-bind-html(ng-bind-html="notification.message.orderevent.motive | remarkText:contenido" ng-if="notification.accion === 1")                    
                    td 
                        ng-bind-html(ng-bind-html="notification.message.orderevent.comments | remarkText:contenido" ng-if="notification.accion === 1")

                tr(ng-if="filtered.length < 1 && lumina.listNotification.length > 0 ? true : false ")
                    td(colspan="11")
                        // Registers No Found
                        +noGeneralResults( 'No existen', ' notificaciones con el criterio de busqueda.' )  
                tr(ng-if="lumina.listNotification.length < 1 ? true : false ")                              
                    td(colspan="11")
                        // No results
                        +noGeneralResults( 'No cuentas', ' con notificaciones pendientes.' )                       
                                

