div.content-panel.tranfers(ng-if="carsCtrl.stepForm.stepA")
    p Cuenta
        .row(ng-if="carsCtrl.buscar") 
            .col-md-3
                div.input-group
                    span.input-group-addon(style="background-color: #ffff; border: 1px solid #ffff;")
                        i.fa.fa-user-circle
                    input(class="form-control upperCaseInput ng-pristine ng-valid ng-empty ng-valid-pattern ng-valid-maxlength ng-touched" placeholder="Contrato" ng-model="carsCtrl.contract" ng-keypress="($event.which === 13) ? carsCtrl.submitSearch() : 0" ng-maxlength="10" ng-pattern="/^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$/")
            .col-md-3
                input(class="form-control upperCaseInput" placeholder="Cliente Único" ng-model="carsCtrl.client" ng-keypress="($event.which === 13) ? carsCtrl.submitSearch() : 0" ng-maxlength="10" ng-pattern="/^(0*[1-9][0-9]*(\.[0-9]+)?|0+\.[0-9]*[1-9][0-9]*)$/")
        .row(ng-if="carsCtrl.buscar") 
            .col-md-3
                div.input-group
                    span.input-group-addon(style="background-color: #ffff; border: 1px solid #ffff;")
                        i.fa.fa-user-o
                    input(class="form-control" placeholder="Nombre / Razón Social" ng-model="carsCtrl.person.name" ng-keypress="($event.which === 13) ? carsCtrl.submitSearch() : 0;")
            //.col-md-3                          
                input(class="form-control" placeholder="RFC" ng-model="carsCtrl.person.fiscalIDNumber" ng-keypress="($event.which === 13) ? carsCtrl.submitSearch() : 0;")       
        .row(ng-if="carsCtrl.buscar") 
            .col-md-12
                button(style="margin: 10px 30px;" class="btn-primary btn" ng-click="carsCtrl.submitSearch()") BUSCAR
                button(class="btn-primary btn" ng-click="carsCtrl.cleanForm()") LIMPIAR
        .row(ng-if="carsCtrl.buscar") 
            .col-md-12
                button(style="margin: 10px 30px;" class="btn-primary btn" ng-click="carsCtrl.cotizarNoCliente()") COTIZAR A NO CLIENTE
        .row(ng-if="carsCtrl.tipoPersonalidad") 
            .col-md-12
                p Selecciona tipo de Personalidad
                    .form-group.text-center.col-md-12
                        label.radio-inline
                            input(type="radio" name="typeClient" ng-click="carsCtrl.seleccionaPersonalidad('1')" required).personas
                            span(lang="es" style="color: black !important") Persona Física
                        label.radio-inline
                            input(type="radio" name="typeClient" ng-click="carsCtrl.seleccionaPersonalidad('2')" required).personas
                            span(lang="es" style="color: black !important") Persona Moral

        .row.margin-0
.page-instructions(ng-if="carsCtrl.stepForm.stepA" )
    .panel.panel-default
        .panel-heading
            | Instrucciones de operación 
        .panel-body

            // Steps
            .steps
                p Debes confirmar con tu cliente en todas las operaciones solicitadas:
                .row
                    .col-xs-6
                        p 1. Número de contrato
                        p 2. Nombre completo de tu cliente
                        p 3. Operación solicitada
                    .col-xs-6
                        p 4. # de Títulos y/o Monto de la operación y/o "Valor Mercado"
                        p 5. Emisora: Nombre y/o Clave de la Emisora
                        p 6. Fecha: Si se solicita la operación en una fecha posterior
                p Tu bitácora de operación deberá incluir:
                    strong  Extensión, fecha y hora.
            // Process
            .process
                h2 Llamadas con clientes
                .row
                    .col-xs-6
                        .details
                            h3 ¿Qué debemos hacer?
                            ul
                                li Consulta el perfil del cliente
                                li Considera lo siguiente para emitir sugerencias:
                                    ul
                                        li Plazo
                                        li Periodo de liquidación
                                        li Riesgo
                                        li Volatilidad
                    .col-xs-6
                        .details
                            h3.forbidden Está prohibido
                            ul
                                li Utilizar el celular o whatsapp
                                li Garantizar rendimientos
                                li Utilizar frases como:
                                    ul
                                        li Te recomiendo...
                                        li Yo creo que...
                                        li Yo esperaría que...
                                li Ingresar datos incorrectos en la bitácora de operaciones, ya que podrías ser sancionado.
                p
                    strong Recuerda:
                    |  Los contratos
                    strong  discrecionales,
                    |  requieren de una instrucción de operación de manera obligatoria en cualquier emisión de Grupo Financiero Actinver.