include /views/mixins/radio-button
include /views/mixins/buttons

//PAntalla 1
include /app/advisers/insurance/cars/insurance-cars1
//PAntalla 2
include /app/advisers/insurance/cars/insurance-cars2
//PAntalla 3
include /app/advisers/insurance/cars/insurance-cars3
//PAntalla 4
include /app/advisers/insurance/cars/insurance-cars4
//PAntalla 4 b
include /app/advisers/insurance/cars/insurance-cars4_1
//PAntalla 5
include /app/advisers/insurance/cars/insurance-cars5
//PAntalla 6
include /app/advisers/insurance/cars/insurance-cars6
//PAntalla 7
include /app/advisers/insurance/cars/insurance-cars7
//Pantalla 8
include /app/advisers/insurance/cars/insurance-cars8