mixin page_instructions()
    .page-instructions
        .panel.panel-default
            .panel-heading
                .panel-title
                    span Información importante
            .panel-body

                ul
                    li La información reportada puede ser ajustada para el cálculo definitivo de comisiones.
                    li Incluye personas físicas y morales.
                    li La variación a la fecha incluye el neteo de contratos cedidos y recibidos.
                    li La posición en efectivo en dólares está valorizada al tipo de cambio del cierre del día.
                    li Las posiciones de mercado de capitales al inicio y fin del periodo incluyen el 100% de la posición.
                    li En mercado de capitales, la variación a la fecha solo considera variaciones topadas al 10% de la meta correspondiente. Este tope aplica para variaciones positivas y negativas.
                    li La información de referenciados se actualiza semanalmente.
                    li Los seguros nuevos colocados muestran el total bruto, sin considerar el monto mínimo de prima requerido.
                    li La variación de contratos netos se determina a partir de $100 mil.
                    li La apertura de contratos mayores a $500 mil muestra solo las altas efectuadas en el mes calendario consultado.