div.act-calendar
    div.calendar.hidden-sm.hidden-xs( uib-datepicker ng-model="dateCalendar" datepicker-options="{showWeeks : false,formatMonth : 'MMM', yearColumns : 3}" ng-change="updateCalendar()")
    div.information
        div.section.more-birthdays(ng-if="mores")
            div.header(ng-click="close()")
                    img(src="img/icons/calendar/ico_cerrar.svg", alt="" width="12" height="12" style="margin-right:12px")
            div.content-birthdays
                h4.title CUMPLEAÑOS DE CLIENTES
                div(scrollable="" always-visible="true")
                        div.item-birthday( ng-repeat="it in BirthDays"  )
                            .indice.col-xs-1.padding-left-0.padding-right-10 {{$index + 1}}
                            .description.col-xs-11.padding-left-0.padding-right-0
                                    h5 {{ it.name }}
                                    //div.col-xs-4.padding-left-0.padding-right-10 Tel. {{ it.phone }}
                                    //div.col-xs-4.padding-left-0.padding-right-0 Mail. {{ it.mail }}
                                    div.col-xs-12.padding-left-0.padding-right-0 Fecha Nacimiento: {{it.birthDate | date:'dd'}} {{it.birthDate | date:'MMMM'}} {{it.birthDate | date:'yyyy'}}  
        span(ng-if="!mores")
            div.section.notices
                h4.title ¡AVISOS IMPORTANTES!
                div.empty(ng-if="messages.length === 0") 
                    p ¡No cuentas con Avisos importantes!
                    img(src="img/icons/no_aviso.svg")
                div( ng-if="messages.length !== 0")
                    div(scrollable always-visible="true")
                        div.item(ng-repeat = "it in messages | orderBy :'-creationDate'"  ng-click="showNotice(it) ") {{it.message}}

            div.section.activities
                div(ng-if="appointmentFilterIsToday")
                    h4.title ¡ACTIVIDADES DEL DÍA!
                        img(ng-click="addActivity()" src="img/icons/calendar/icon_agregar.svg", alt="" width="12" height="12" align="right")
                div(ng-if="!appointmentFilterIsToday")
                    h4.title ¡ACTIVIDADES DEL MES!
                        img(ng-click="addActivity()" src="img/icons/calendar/icon_agregar.svg", alt="" width="12" height="12" align="right")
                div.empty(ng-if="appointments.length === 0") 
                    p ¡No tienes ninguna actividad pendiente en tu día! 
                    //p Puedes agregar una nueva
                div( ng-if="appointments.length !== 0")
                    div(scrollable always-visible="true")
                        div.item-activity(ng-repeat = "it in appointments | filter :isInAppointmentFilter")
                            div.col-xs-3.padding-left-0.padding-right-0.time
                                b {{it.start | limitTo : 5 }} - {{it.end | limitTo : 5}} 
                                    br
                                b(ng-if="!appointmentFilterIsToday") {{it.date|date:'d/MM'}}
                            div.col-xs-7.padding-left-10.padding-right-10.description {{ it.subject }}
                            div.col-xs-2.buttons.padding-left-0.padding-right-0
                                //img.icon(ng-click="editActivity( it )" src="img/icons/calendar/icon_editar.svg", alt="" align="left")
                                //img.icon(ng-click="deleteActivity()"  src="img/icons/calendar/icon_cerrar.svg", alt="", align="left")
                div(ng-if="appointmentFilterIsToday" class='viewMore')
                    button.btn-link( ng-click ="toggleAppointmentFilter()" ) Ver citas del Mes
                div(ng-if="!appointmentFilterIsToday" class='viewMore')
                    button.btn-link( ng-click ="toggleAppointmentFilter()" ) Ver citas del Día

            div.section.birthday
                h4.title CUMPLEAÑOS DE CLIENTES
                div( uib-popover-template="'myTooltipTemplate.html'" popover-placement="left" popover-class="tooltip-birthday"
                    popover-is-open=" tooltip.data !== false")

                div.empty(ng-if="birthdaysCurrentWeek.length === 0")
                    p Ups! hoy no hay cumpleaños por festejar.
                    img(src="img/icons/no_cumple.svg", alt="")
                div( ng-if="birthdaysCurrentWeek.length !== 0")
                    div(scrollable always-visible="true")
                        .item-birthday(ng-repeat = "it in birthdaysCurrentWeek")
                            h5 {{it.name}}
                            div.col-xs-11.padding-left-0.padding-right-10
                                div.col-xs-6 {{it.phone}}
                                div.col-xs-6 {{it.mail}}
                            div.col-xs-1.padding-left-0.padding-right-0
                                img(src="img/icons/calendar/icon_cumple.svg", alt="" width="18" height="17" align="right" style="position:absolute;bottom:0;margin-bottom:-7px;" 
                                    ng-click="tooltip.data =  tooltip.data===it ? false : it"
                                )
                    button.btn-link( ng-click ="more()" ) 
                        a(href="") ver más

                script( type="text/ng-template" id="myTooltipTemplate.html").
                    <h5 class="title-tooltip"> 
                        <svg width="18px" height="17px" viewBox="0 0 20 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                            <title>Group</title>
                            <desc>Created with Sketch.</desc>
                            <defs></defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="DASHBOARD" transform="translate(-1029.000000, -453.000000)" stroke-width="0.2" stroke="#FFFFFF" fill="#FFFFFF" fill-rule="nonzero">
                                    <g id="CALENDARIO" transform="translate(557.000000, 185.000000)">
                                        <g id="CALENDARIO-Copy">
                                            <g id="Group" transform="translate(473.000000, 269.000000)">
                                                <path d="M4.84984758,0.616585584 C4.42282612,1.01193494 4.17513514,1.55171805 4.17073173,2.06679597 C4.17073173,2.72003753 4.68029856,3.1168661 5.0967988,3.37893104 L0,3.37893104 L0,7.35671247 L1.097561,7.35671247 L1.097561,16.859187 L16.902439,16.859187 L16.902439,7.35671247 L18,7.35671247 L18,3.37893104 L12.9032012,3.37893104 C13.6097561,2.94101545 13.8163851,2.54001416 13.8292683,2.06679597 C13.8248561,1.55171805 13.5771739,1.01193494 13.1501525,0.616585584 C12.5592498,0.163127143 12.0340844,0.0250518182 11.3803354,0.0986375325 C10.5365854,0.28917 10.0326644,0.771837532 9.63796831,1.24501156 C9.37673783,1.56534013 9.15318661,1.94212195 9.000011,2.3637661 C8.84683539,1.94212195 8.62328197,1.56534013 8.36205368,1.24501156 C7.86447441,0.634866104 7.23022466,0.22128039 6.62653539,0.0986375325 C5.92682929,0.0681920779 5.4878049,0.0681920779 4.84984758,0.616585584 Z M6.54420734,0.533749221 C7.15699978,0.750466104 7.68831149,1.12378169 8.02590368,1.52820506 C8.42568368,2.01840117 8.71495027,2.65409078 8.76675734,3.37897519 L6.5853549,3.37897519 C5.85210075,3.29397519 4.60975612,2.72003753 4.60974514,2.07375052 C4.60975612,1.61510377 4.86975295,1.20414532 5.14480612,0.941263506 C5.62864612,0.564834935 5.92682929,0.510147922 6.54420734,0.533749221 L6.54420734,0.533749221 Z M12.8551829,0.941153117 C13.1926808,1.25364403 13.3849976,1.69707909 13.3902439,2.06679597 C13.1912517,2.92339727 12.1974849,3.3672739 11.4146342,3.37886481 L9.23323173,3.37886481 C9.2850388,2.65398039 9.57430319,2.01829078 9.97408539,1.52809468 C10.413562,0.989194675 10.7560976,0.731147922 11.4489329,0.533638831 C12.0731708,0.510147922 12.5150181,0.647671299 12.8551829,0.941153117 L12.8551829,0.941153117 Z M0.439024412,3.82090896 L17.5609756,3.82090896 L17.5609756,6.91473455 L9.21951222,6.91473455 L9.21951222,5.36782065 L8.78048783,5.36782065 L8.78048783,6.91473455 L0.439024412,6.91473455 L0.439024412,3.82090896 Z M1.53658539,7.35671247 L16.4634147,7.35671247 L16.4634147,16.4172091 L9.21951222,16.4172091 L9.21951222,8.46165065 L8.78048783,8.46165065 L8.78048783,16.4172091 L1.53658539,16.4172091 L1.53658539,7.35671247 Z" id="Shape"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        {{tooltip.data.name}} 
                    </h4>
                    <div class="description">
                        <p class="col-xs-6 padding-right-0">
                            No. Contrato
                            <br>                            
                            Última fecha de contacto
                        </p>
                        <p class="col-xs-6 padding-left-10">
                            {{ tooltip.data.contract }}
                            <br>                            
                            {{ tooltip.data.lastContact | date: 'dd/MM/yyyy' }}
                        </p>
                    </div>
                    <div class="btn button-tooltip" ng-click="showClientInfo(tooltip.data)">
                        ver detalle
                    </div>
