mixin nav
    nav.navbar.navbar-default.act-nav
        div.container-fluid
            <!-- Brand and toggle get grouped for better mobile display -->
            div.navbar-header
                a.navbar-brand(href="#") Brand

            div.collapse.navbar-collapse.nav-justified
                ul.nav.navbar-nav
                    li
                        a( href="#" )
                            i.fa.fa-dashcube( aria-hidden="true" )
                            | Bitacora
                    li
                        a( href="#" )
                            i.fa.fa-dashcube( aria-hidden="true" )
                            | Prospectos
                    li
                        a( href="#" )
                            i.fa.fa-dashcube( aria-hidden="true" )
                            | Propuestas
                    li
                        a( href="#" )
                            i.fa.fa-dashcube( aria-hidden="true" )
                            | Simuladores
                    li
                        a( href="#" )
                            i.fa.fa-dashcube( aria-hidden="true" )
                            | Presentaciones
                    li
                        a( href="#" )
                            i.fa.fa-dashcube( aria-hidden="true" )
                            | Operaciones
                    li
                        a( href="#" )
                            i.fa.fa-dashcube( aria-hidden="true" )
                            | Administrador
                    li
                        a( href="#" )
                            i.fa.fa-question( aria-hidden="true" )
                            | Ayuda

    //- ul
    //-     li
    //-         a(href="#", target="_blank") Home
