include /views/mixins/buttons
include /views/mixins/buttons


img(
    src="img/icons/done.svg",
    alt="",
    width="45",
    height="45"
)
p(ng-bind-html="done.message")

div.buttons
    +btnSubmit( 'Aceptar', 'success' )(ngClick="done.done()")
