.content-dates-range-picker
    label {{label}}
    div.field
        input.form-control(date-range-picker ng-model="file" placeholder="{{placeholder}}" options="options" readonly)
        span.icon-calendar
