// Dashboard info
.dashboard-info

    // Top info
    .top-info
        .row.col-md-12( ng-if="dashboard.fdc" )
            p.text-right( style="font-size: 13px; font-weight: bold;" )
                a( href="asesor://www.actinver.com/fdc" ) Firma Digital de Contratos
        .row

            // Last activity
            .col-md-6
                .widget.last-activity
                    ipc

            // Last news
            .col-md-6
                .widget.last-news
                    last-news

    // Detailed info
    .detailed-info
        .row

            // Month goal
            //.col-md-6.grid-item
                .widget.month-goal
                    month-goal

                .row

                    //Incomes
                    .col-md-6.grid-item
                        .widget.incomes
                            incomes

            // Reports
            .col-md-6.grid-item
                .widget.reports
                    report

            // Calendar
            .col-md-6.grid-item
                .widget.calendar
                    act-calendar

            // Schedule
            .col-md-4.grid-item
                .widget.binnacle
                    binnacle

            // Schedule list
            .col-md-4.grid-item
                .widget.schedule-details
                    schedule

            // Outline
            .col-md-4.grid-item
                .widget.outline
                    outline

            // Social
            //.col-md-3.grid-item
                .widget.last-social-news
                    social-feed
