// Supervisor
.common-page.goals-supervisor-page

    form( name="form" novalidate )

        // Data
        .panel.panel-default.panel-static
            .panel-heading
                .panel-title
                    span Consultar Estado de Cuenta
            .panel-body
                .content

                    // Goals resume
                    account-state-resume