
h3.primary-title NOTIFICACIONES
    .content-panel    
        // Tabs wrapper
        .tabs-wrapper
            // Navigation tabs
            ul.nav-tabs.main-tabs
                li( ui-sref="notification.lumina" ui-sref-active="active")
                    a( href="javascript:void(0);" ) Lumina
            // Tab content
            .tab-content
                div( ui-view="" )                