// Supervisor
.common-page.goals-supervisor-page

    form( name="form" novalidate )

        // Data
        .panel.panel-default.panel-static
            .panel-heading
                .panel-title
                    span Reporte del supervisor
            .panel-body
                .content

                    // Goals resume
                    goals-resume( obj="Object" type="supervisor" datepicker="goals" search="supervisor" )