// Supervisor
.common-page.goals-custom-page

    form( name="form" novalidate )

        // Data
        .panel.panel-default.panel-static
            .panel-heading
                .panel-title
                    span Reporte Personalizado
            .panel-body
                .content

                    // Goals resume
                    goals-resume( obj="Object" type="custom" datepicker="goals" search="custom" )