.section-add-activity{
    padding: 20px;
    border: 1px solid rgba( $gray, 0.5 );
    border-top: 0;

    .form-group{

        input{
            font-size: 14px;
            height: 28px !important;
        }
    }

    label.input-checkbox{
        display: block;
    }

    .act-dropdown button{
        height: 22px;
    }

}
