// Footer
footer#footer
    .container
        // Navigation
        .col-md-6
            a( href="http://www.actinver.com" target="_blank" ) www.actinver.com

        // Copyright
        .col-md-6.copyright
            a &copy; Grupo Financiero Actinver 2017. Derechos Reservados