include /views/mixins/buttons
// Header
div#header( header-scroll )
    div.top
        .container
            div.row
                .col-md-4
                    label.hidden-xs.hidden-md MÓDULO DE ASESORÍA
                .col-md-4.logo.text-center
                    svg( style="width: 152px; margin: 10px 5px;" viewbox='0 0 179 44', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                            g.actinver(transform='translate(-10.000000, -5.000000)', fill-rule='nonzero', fill='#f2f3ff')
                                g(transform='translate(10.000000, 5.000000)')
                                    path(d='M70.0977926 11.1917078C70.4079311 11.1917078 70.7402223 11.4253322 70.7402223 11.8608544L70.7402223 18.817672 70.7402223 19.4493234 71.3494229 19.4493234 77.3528175 19.4493234C77.7072615 19.4493234 77.9952472 19.7521699 77.9952472 20.1155857L77.9952472 22.6768022C77.9952472 22.9969542 77.7460288 23.3459488 77.3528175 23.3459488L71.3494229 23.3459488 70.7402223 23.3459488 70.7402223 23.9747159 70.7402223 36.2818223C70.7402223 38.4363591 71.5211067 39.3996995 73.2684046 39.3996995 74.8301734 39.3996995 76.7713079 38.4334749 77.1368282 38.2431142 77.3472793 38.1450496 77.6269578 38.1940819 77.7487979 38.4709702L78.8453589 41.2542741C78.936739 41.5138568 78.789977 41.7503655 78.6349078 41.8368931L78.5490659 41.8772726 78.5296822 41.8916939C78.0450909 42.1916562 74.6307986 43.6655093 71.8312451 43.6655093 67.9711288 43.6655093 66.3235182 41.6436482 66.3235182 36.9019367L66.3235182 23.9747159 66.3235182 23.3459488 65.7143177 23.3459488 63.0033752 23.3459488C62.6655458 23.3459488 62.3609455 23.0604078 62.3609455 22.6768022L62.3609455 20.1155857C62.3609455 19.7579384 62.643393 19.4493234 63.0033752 19.4493234L65.7143177 19.4493234 66.3235182 19.4493234 66.3235182 18.817672 66.3235182 11.8608544C66.3235182 11.4887858 66.6115039 11.1917078 66.9631788 11.1917078L70.2750146 11.1917078')
                                    path(d='M51.1065189 19.4533613C53.3827137 19.4504771 56.8468496 20.5666829 59.3279574 23.2605749 59.5494849 23.5403474 59.5024103 23.9758696 59.2531919 24.1864201L59.048279 24.391202 57.2511373 26.0640686C57.0074571 26.2832718 56.650244 26.2890403 56.4065638 26.0611843L56.323491 25.9861938C54.9472515 24.4315815 53.0199625 23.638412 51.1646698 23.638412 47.3100917 23.638412 43.5192028 27.0533673 43.5192028 31.5874126 43.5192028 36.1589532 46.9528787 39.7354266 51.1065189 39.7354266 54.0749871 39.7354266 55.5121466 38.2904159 56.6668586 37.1309463 56.7886987 37.0098077 56.9077697 36.8886691 57.0379171 36.761762 57.2788282 36.499295 57.685885 36.5396745 57.8907979 36.7329195L59.8817761 38.3913648C60.1974527 38.6884428 60.117149 39.0864697 59.998078 39.2681776 58.1372472 41.7544035 54.7700295 43.8022229 51.0760589 43.8022229 44.5880729 43.8022229 39.2769516 38.3077215 39.2769516 31.6508661 39.2769516 25.0372746 44.6960675 19.4533613 51.1065189 19.4533613')
                                    path(d='M37.7079832 42.4050909C37.8519761 42.73678 37.8408997 43.0973116 37.6802923 43.3655471 37.5113776 43.6482038 37.2150846 43.8010692 36.8467952 43.8010692L33.2386664 43.8010692C32.6626949 43.8010692 32.2694837 43.5270652 32.0313416 42.9588674L28.6835076 35.0444779 28.4481347 34.4849329 27.8749323 34.4849329 10.1278123 34.4849329 9.54630265 34.4849329 9.31092971 35.0531307C8.8069547 36.2875908 8.2946724 37.5076298 7.77962102 38.7305529 7.18426592 40.1409525 6.58891083 41.5542363 6.01293939 42.9704044 5.97971027 43.0540478 5.65572633 43.8010692 4.81392191 43.8010692L1.20302403 43.8010692C.834734601 43.8010692.5384416 43.6482038.372295991 43.3655471.208919477 43.0973116.197843103 42.73678.344605057 42.3993224L17.8563522 1.34198467C18.0197287.984337333 18.4766291.554583675 19.1384424.554583675 19.9304032.554583675 20.3180762 1.34198467 20.3180762 1.34198467L37.7079832 42.4050909ZM11.6674282 29.4836386 13.0353604 29.4836386 25.0116897 29.4836386 26.3823909 29.4836386 25.8230341 28.1453454 19.808563 13.819262 18.9972187 11.8810442 18.1886434 13.8221463 12.224016 28.1482296 11.6674282 29.4836386ZM17.8563522 1.34198467C18.0197287.984337333 18.4766291.554583675 19.1384424.554583675 19.9304032.554583675 20.3180762 1.34198467 20.3180762 1.34198467L17.8563522 1.34198467Z')
                                    path(d='M105.388227 19.354143C113.665048 19.354143 114.900063 26.4147937 114.900063 30.6229185L114.900063 43.1030801C114.900063 43.4924542 114.595463 43.8010692 114.260403 43.8010692L111.012256 43.8010692C110.624583 43.8010692 110.372596 43.4405376 110.372596 43.1030801L110.372596 30.3719885C110.372596 26.0888732 108.259777 23.5334252 104.720876 23.5334252 100.658616 23.5334252 97.8064495 26.5618906 97.4077 27.7155917L97.3717018 27.8165406 97.3717018 27.9290264 97.3717018 43.1030801C97.3717018 43.4434219 97.1003307 43.8010692 96.7292721 43.8010692L93.5448147 43.8010692C93.1571416 43.8010692 92.9051541 43.4405376 92.9051541 43.1030801L92.9051541 20.6491725C92.9051541 20.2482614 93.2263689 19.9800259 93.5448147 19.9800259L95.1675034 19.9800259C95.4001073 19.9800259 95.5524074 20.1819236 95.5800984 20.2857567L95.5884056 20.3088307 96.3139081 22.4374092 96.665583 23.4670874 97.3606255 22.6450754C97.3883164 22.6133486 100.459241 19.354143 105.388227 19.354143')
                                    path(d='M138.597412 19.516238C138.888166 19.516238 139.15123 19.8190846 139.010006 20.1796162L128.163467 43.446883C127.91148 43.9429745 127.230283 43.9429745 127.014294 43.435346L116.1816 20.1969217C116.043145 19.9084964 116.231444 19.516238 116.585888 19.516238L120.083253 19.516238C120.351855 19.516238 120.565075 19.7065987 120.656455 19.9142649L127.706567 35.4228919 134.78437 19.8854224C134.900672 19.6460294 135.166505 19.516238 135.36311 19.516238L138.719252 19.516238')
                                    path(d='M87.2454039 19.6241091C87.5666188 19.6241091 87.8850645 19.8981131 87.8850645 20.2903715L87.8850645 43.1250004C87.8850645 43.4768792 87.5832333 43.8027998 87.2454039 43.8027998L84.0526392 43.8027998C83.7037334 43.8027998 83.4102095 43.462458 83.4102095 43.1048106L83.4102095 20.2903715C83.4102095 19.9067658 83.723117 19.6241091 84.0526392 19.6241091L87.3561677 19.6241091')
                                    path(d='M88.4366679 14.1616228C88.4366679 15.7969941 87.1878068 17.0776023 85.5900398 17.0776023 84.0559621 17.0776023 82.8597137 15.7969941 82.8597137 14.1616228 82.8597137 12.4916405 84.0559621 11.185074 85.5900398 11.185074 87.1878068 11.185074 88.4366679 12.4916405 88.4366679 14.1616228Z')
                                    path(d='M175.144184 19.5329667C176.946864 19.5329667 178.480942 19.890614 178.840924 20.4559276 178.932304 20.5828347 178.965533 20.7703111 178.896306 20.9462505L177.486837 23.9862529C177.345613 24.3035207 177.029937 24.3208262 176.883175 24.2458357 176.417967 23.9977899 175.440477 23.7410914 174.612518 23.7410914 170.658253 23.7410914 168.86388 26.9685702 168.791884 27.1070144L168.71158 27.2541113 168.71158 27.4213979 168.71158 43.1030801C168.71158 43.4549589 168.43744 43.8010692 168.06915 43.8010692L165.012071 43.8010692C164.624398 43.8010692 164.37241 43.4376534 164.37241 43.1030801L164.37241 20.8222277C164.37241 20.4443906 164.67978 20.153081 165.012071 20.153081L166.598762 20.153081C166.728909 20.153081 166.967051 20.3203677 167.022433 20.5453394L167.025202 20.5655292 167.033509 20.5857189 167.681477 22.7027604 168.049767 23.9112623 168.74204 22.8700471C169.110329 22.3133863 171.156689 19.5329667 175.144184 19.5329667')
                                    path(d='M150.847604 19.3492398C156.884228 19.3492398 161.433848 23.9236646 161.433848 29.9863639 161.433848 30.3699695 161.392312 31.0189264 161.331392 31.460217 161.287087 31.8236329 160.982486 32.0457203 160.691731 32.0457203L144.271007 32.0457203 143.617501 32.0457203 143.636885 32.726404C143.827952 36.138475 146.513973 39.7928232 151.274045 39.7928232 153.785612 39.7928232 155.959351 38.6218166 157.006068 37.9440172 157.144523 37.8546054 157.271901 37.770962 157.39651 37.7103927 157.546041 37.6354021 157.798029 37.6527077 157.94756 37.8603739L159.545327 40.0264477 159.561941 40.0466374 159.609016 40.1129752C159.764085 40.3235257 159.697627 40.6292565 159.548096 40.7503951 158.756135 41.4281945 155.77936 43.6663746 150.908524 43.6663746 144.174089 43.6663746 139.286639 38.5525945 139.286639 31.5092493 139.286639 24.57839 144.257162 19.3492398 150.847604 19.3492398M143.952561 29.4498929 144.575607 29.4498929 156.391329 29.4498929 157.042066 29.4498929C157.042066 29.4498929 157.044835 27.6472349 155.920583 25.8878407 154.699413 23.9755812 152.50906 22.8680281 150.783915 22.8680281 147.400083 22.8680281 145.87985 24.6418436 144.943897 25.9859053 143.883334 27.500138 143.883334 29.4498929 143.883334 29.4498929')
                .col-md-4.text-center
                    user-data
    .container
        menu
        





        //nav.navbar.navbar-default(ng-if="false")
            .container-fluid            
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button#menuButton.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar                    
                    a.navbar-brand
                        a.text-center( ui-sref='app.dashboard' ui-sref-active="active" permission="['asesores.InicioMenu.']" )
                            .row(style="margin-top: 16px; border-right: 1.5px solid #195dc4;margin-right: 5px;")
                                .col-md-2
                                    img.visible-md.visible-lg( src="img/icons/home.svg" )
                                .col-md-6
                                    p.text-center
                // Collect the nav links, forms, and other content for toggling
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav(ng-click="hideMenu()")
                        



    // Top
        .top
            .container
                .title.hidden-sm.hidden-xs
                    h1 SISTEMA DE ASESORÍA
                .logo.hidden-sm.hidden-xs
                    svg(viewbox='0 0 179 44', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                        g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                            g.actinver(transform='translate(-10.000000, -5.000000)', fill-rule='nonzero', fill='#051C48')
                                g(transform='translate(10.000000, 5.000000)')
                                    path(d='M70.0977926 11.1917078C70.4079311 11.1917078 70.7402223 11.4253322 70.7402223 11.8608544L70.7402223 18.817672 70.7402223 19.4493234 71.3494229 19.4493234 77.3528175 19.4493234C77.7072615 19.4493234 77.9952472 19.7521699 77.9952472 20.1155857L77.9952472 22.6768022C77.9952472 22.9969542 77.7460288 23.3459488 77.3528175 23.3459488L71.3494229 23.3459488 70.7402223 23.3459488 70.7402223 23.9747159 70.7402223 36.2818223C70.7402223 38.4363591 71.5211067 39.3996995 73.2684046 39.3996995 74.8301734 39.3996995 76.7713079 38.4334749 77.1368282 38.2431142 77.3472793 38.1450496 77.6269578 38.1940819 77.7487979 38.4709702L78.8453589 41.2542741C78.936739 41.5138568 78.789977 41.7503655 78.6349078 41.8368931L78.5490659 41.8772726 78.5296822 41.8916939C78.0450909 42.1916562 74.6307986 43.6655093 71.8312451 43.6655093 67.9711288 43.6655093 66.3235182 41.6436482 66.3235182 36.9019367L66.3235182 23.9747159 66.3235182 23.3459488 65.7143177 23.3459488 63.0033752 23.3459488C62.6655458 23.3459488 62.3609455 23.0604078 62.3609455 22.6768022L62.3609455 20.1155857C62.3609455 19.7579384 62.643393 19.4493234 63.0033752 19.4493234L65.7143177 19.4493234 66.3235182 19.4493234 66.3235182 18.817672 66.3235182 11.8608544C66.3235182 11.4887858 66.6115039 11.1917078 66.9631788 11.1917078L70.2750146 11.1917078')
                                    path(d='M51.1065189 19.4533613C53.3827137 19.4504771 56.8468496 20.5666829 59.3279574 23.2605749 59.5494849 23.5403474 59.5024103 23.9758696 59.2531919 24.1864201L59.048279 24.391202 57.2511373 26.0640686C57.0074571 26.2832718 56.650244 26.2890403 56.4065638 26.0611843L56.323491 25.9861938C54.9472515 24.4315815 53.0199625 23.638412 51.1646698 23.638412 47.3100917 23.638412 43.5192028 27.0533673 43.5192028 31.5874126 43.5192028 36.1589532 46.9528787 39.7354266 51.1065189 39.7354266 54.0749871 39.7354266 55.5121466 38.2904159 56.6668586 37.1309463 56.7886987 37.0098077 56.9077697 36.8886691 57.0379171 36.761762 57.2788282 36.499295 57.685885 36.5396745 57.8907979 36.7329195L59.8817761 38.3913648C60.1974527 38.6884428 60.117149 39.0864697 59.998078 39.2681776 58.1372472 41.7544035 54.7700295 43.8022229 51.0760589 43.8022229 44.5880729 43.8022229 39.2769516 38.3077215 39.2769516 31.6508661 39.2769516 25.0372746 44.6960675 19.4533613 51.1065189 19.4533613')
                                    path(d='M37.7079832 42.4050909C37.8519761 42.73678 37.8408997 43.0973116 37.6802923 43.3655471 37.5113776 43.6482038 37.2150846 43.8010692 36.8467952 43.8010692L33.2386664 43.8010692C32.6626949 43.8010692 32.2694837 43.5270652 32.0313416 42.9588674L28.6835076 35.0444779 28.4481347 34.4849329 27.8749323 34.4849329 10.1278123 34.4849329 9.54630265 34.4849329 9.31092971 35.0531307C8.8069547 36.2875908 8.2946724 37.5076298 7.77962102 38.7305529 7.18426592 40.1409525 6.58891083 41.5542363 6.01293939 42.9704044 5.97971027 43.0540478 5.65572633 43.8010692 4.81392191 43.8010692L1.20302403 43.8010692C.834734601 43.8010692.5384416 43.6482038.372295991 43.3655471.208919477 43.0973116.197843103 42.73678.344605057 42.3993224L17.8563522 1.34198467C18.0197287.984337333 18.4766291.554583675 19.1384424.554583675 19.9304032.554583675 20.3180762 1.34198467 20.3180762 1.34198467L37.7079832 42.4050909ZM11.6674282 29.4836386 13.0353604 29.4836386 25.0116897 29.4836386 26.3823909 29.4836386 25.8230341 28.1453454 19.808563 13.819262 18.9972187 11.8810442 18.1886434 13.8221463 12.224016 28.1482296 11.6674282 29.4836386ZM17.8563522 1.34198467C18.0197287.984337333 18.4766291.554583675 19.1384424.554583675 19.9304032.554583675 20.3180762 1.34198467 20.3180762 1.34198467L17.8563522 1.34198467Z')
                                    path(d='M105.388227 19.354143C113.665048 19.354143 114.900063 26.4147937 114.900063 30.6229185L114.900063 43.1030801C114.900063 43.4924542 114.595463 43.8010692 114.260403 43.8010692L111.012256 43.8010692C110.624583 43.8010692 110.372596 43.4405376 110.372596 43.1030801L110.372596 30.3719885C110.372596 26.0888732 108.259777 23.5334252 104.720876 23.5334252 100.658616 23.5334252 97.8064495 26.5618906 97.4077 27.7155917L97.3717018 27.8165406 97.3717018 27.9290264 97.3717018 43.1030801C97.3717018 43.4434219 97.1003307 43.8010692 96.7292721 43.8010692L93.5448147 43.8010692C93.1571416 43.8010692 92.9051541 43.4405376 92.9051541 43.1030801L92.9051541 20.6491725C92.9051541 20.2482614 93.2263689 19.9800259 93.5448147 19.9800259L95.1675034 19.9800259C95.4001073 19.9800259 95.5524074 20.1819236 95.5800984 20.2857567L95.5884056 20.3088307 96.3139081 22.4374092 96.665583 23.4670874 97.3606255 22.6450754C97.3883164 22.6133486 100.459241 19.354143 105.388227 19.354143')
                                    path(d='M138.597412 19.516238C138.888166 19.516238 139.15123 19.8190846 139.010006 20.1796162L128.163467 43.446883C127.91148 43.9429745 127.230283 43.9429745 127.014294 43.435346L116.1816 20.1969217C116.043145 19.9084964 116.231444 19.516238 116.585888 19.516238L120.083253 19.516238C120.351855 19.516238 120.565075 19.7065987 120.656455 19.9142649L127.706567 35.4228919 134.78437 19.8854224C134.900672 19.6460294 135.166505 19.516238 135.36311 19.516238L138.719252 19.516238')
                                    path(d='M87.2454039 19.6241091C87.5666188 19.6241091 87.8850645 19.8981131 87.8850645 20.2903715L87.8850645 43.1250004C87.8850645 43.4768792 87.5832333 43.8027998 87.2454039 43.8027998L84.0526392 43.8027998C83.7037334 43.8027998 83.4102095 43.462458 83.4102095 43.1048106L83.4102095 20.2903715C83.4102095 19.9067658 83.723117 19.6241091 84.0526392 19.6241091L87.3561677 19.6241091')
                                    path(d='M88.4366679 14.1616228C88.4366679 15.7969941 87.1878068 17.0776023 85.5900398 17.0776023 84.0559621 17.0776023 82.8597137 15.7969941 82.8597137 14.1616228 82.8597137 12.4916405 84.0559621 11.185074 85.5900398 11.185074 87.1878068 11.185074 88.4366679 12.4916405 88.4366679 14.1616228Z')
                                    path(d='M175.144184 19.5329667C176.946864 19.5329667 178.480942 19.890614 178.840924 20.4559276 178.932304 20.5828347 178.965533 20.7703111 178.896306 20.9462505L177.486837 23.9862529C177.345613 24.3035207 177.029937 24.3208262 176.883175 24.2458357 176.417967 23.9977899 175.440477 23.7410914 174.612518 23.7410914 170.658253 23.7410914 168.86388 26.9685702 168.791884 27.1070144L168.71158 27.2541113 168.71158 27.4213979 168.71158 43.1030801C168.71158 43.4549589 168.43744 43.8010692 168.06915 43.8010692L165.012071 43.8010692C164.624398 43.8010692 164.37241 43.4376534 164.37241 43.1030801L164.37241 20.8222277C164.37241 20.4443906 164.67978 20.153081 165.012071 20.153081L166.598762 20.153081C166.728909 20.153081 166.967051 20.3203677 167.022433 20.5453394L167.025202 20.5655292 167.033509 20.5857189 167.681477 22.7027604 168.049767 23.9112623 168.74204 22.8700471C169.110329 22.3133863 171.156689 19.5329667 175.144184 19.5329667')
                                    path(d='M150.847604 19.3492398C156.884228 19.3492398 161.433848 23.9236646 161.433848 29.9863639 161.433848 30.3699695 161.392312 31.0189264 161.331392 31.460217 161.287087 31.8236329 160.982486 32.0457203 160.691731 32.0457203L144.271007 32.0457203 143.617501 32.0457203 143.636885 32.726404C143.827952 36.138475 146.513973 39.7928232 151.274045 39.7928232 153.785612 39.7928232 155.959351 38.6218166 157.006068 37.9440172 157.144523 37.8546054 157.271901 37.770962 157.39651 37.7103927 157.546041 37.6354021 157.798029 37.6527077 157.94756 37.8603739L159.545327 40.0264477 159.561941 40.0466374 159.609016 40.1129752C159.764085 40.3235257 159.697627 40.6292565 159.548096 40.7503951 158.756135 41.4281945 155.77936 43.6663746 150.908524 43.6663746 144.174089 43.6663746 139.286639 38.5525945 139.286639 31.5092493 139.286639 24.57839 144.257162 19.3492398 150.847604 19.3492398M143.952561 29.4498929 144.575607 29.4498929 156.391329 29.4498929 157.042066 29.4498929C157.042066 29.4498929 157.044835 27.6472349 155.920583 25.8878407 154.699413 23.9755812 152.50906 22.8680281 150.783915 22.8680281 147.400083 22.8680281 145.87985 24.6418436 144.943897 25.9859053 143.883334 27.500138 143.883334 29.4498929 143.883334 29.4498929')
                user-data

        // Navigation
        .nav
            .container
                ul
                    li.home(permission="['asesores.InicioMenu.']")
                        a( ui-sref='app.dashboard' ui-sref-active="active" )
                            .icon
                                img( src="img/icons/home.svg" )
                    li( permission="['asesores.BitacorasMenu.']" )
                        a( ui-sref='binnacle' ui-sref-active="active" )
                            .icon
                                img( src="img/icons/bitacora.svg" )
                            | Bitácora
                    li( permission="['asesores.ProspectosMenu.']" )
                        a( ui-sref='prospects' ui-sref-active="active" )
                            .icon
                                img( src="img/icons/prospectos.svg" )
                            | Prospectos
                    li( permission="['asesores.ReportesMenu.']" )
                        a( ui-sref='proposals' ui-sref-active="active" )
                            .icon
                                img( src="img/icons/propuestas.svg" )
                            | Propuestas
                    li( permission="['asesores.SiuladoresMenu.']" )
                        a( ui-sref-active="active" ui-sref='simulators' )
                            .icon
                                img( src="img/icons/simuladores.svg" )
                            | Simuladores
                    li( permission="['asesores.PresentacionesMenu.']" )
                        a(  ui-sref-active="active" ui-sref='presentations' )
                            .icon
                                img( src="img/icons/presentaciones.svg" )
                            | Presentaciones
                    li(permission="['asesores.OperacionesMenu.']")
                        a( ui-sref-active="active" ui-sref="operations" )
                            .icon
                                img( src="img/icons/operaciones.svg" )
                            | Operaciones
                    li(permission="['asesores.OperacionesPendientesMenu.']")
                        a( ui-sref-active="active" ui-sref="pending-operations" )
                            .icon
                                img( src="img/icons/operaciones.svg" )
                            | Pendientes
                    li( permission="['asesores.AdministradorMenu.']" )
                        a( ui-sref-active="active" ui-sref='administrator' )
                            .icon
                                img(  src="img/icons/admin.svg"  )
                            | Administrador
                    //li
                        a(  ui-sref-active="active" ui-sref='help' )
                            .icon
                                img(  src="img/icons/ayuda.svg"  )
                            | Ayuda
