include /views/mixins/input
include /views/mixins/text-area
include /views/mixins/buttons

div.modal-show-activity
    div.modal-header
        h4 ¡AVISOS IMPORTANTES!

    div.modal-body
        div.content
            div.container-date
                p.description Asunto:
                p {{activity.item.message}}
            div.container-date
                p.description Mensaje:
                p {{activity.item.descriptionMessage}}
            .container-date
                p.description Fecha de expiración:
                p.date {{ activity.item.expirationDate}}
            .container-date
                p.description Creado:
                p.date {{ activity.item.creationDate | date:'yyyy-MM-dd HH:mm'}}
            img.img-responsive( ng-if="activity.item.contentType!=='application/pdf'" ng-src="{{activity.messageImage}}" ng-click="activity.downloadFile()" style={'margin-left':'auto', 'margin-right':'auto'})

            div.row
                div.file-uploader(class ="file-uploader col-xs-offset-3 col-xs-6" 
                ng-if="activity.item.contentType==='application/pdf'" ng-click="activity.downloadFile()")
                    div.icon-file(class="icon-file pdf")
                    a.change-file Descargar Archivo PDF 


    div.modal-footer(style="text-align:center;")
        +btnSubmit( 'Aceptar','save')(ngClick="activity.close()")
