ul.nav.nav-tabs.panel-tabs
    li( role="" ui-sref-active="active")
        a( ui-sref="pending-operations-adviser"  ) Operaciones Pendientes
    li( role="" ui-sref-active="active")
        a( ui-sref="pending-operations-historic" ) Histórico

div.container-transfer
    div( ui-view="")