include /views/mixins/radio-button
include /views/mixins/buttons

//Pantalla 0
include /app/advisers/insurance/life/insurance-life0
//Pantalla 1
include /app/advisers/insurance/life/insurance-life1
//Pantalla 2
include /app/advisers/insurance/life/insurance-life2
//Pantalla 3
include /app/advisers/insurance/life/insurance-life3
//Pantalla 4
include /app/advisers/insurance/life/insurance-life4
//Pantalla 5
include /app/advisers/insurance/life/insurance-life5
//Pantalla 6
include /app/advisers/insurance/life/insurance-life6
