include /views/mixins/radio-button
include /views/mixins/buttons

//Pantalla 1
include /app/advisers/insurance/pyme/insurance-pyme1
//Pantalla 2
include /app/advisers/insurance/pyme/insurance-pyme2
//Pantalla 3
include /app/advisers/insurance/pyme/insurance-pyme3
//Pantalla 4
include /app/advisers/insurance/pyme/insurance-pyme-confirmation
//Pantalla 5
include /app/advisers/insurance/pyme/insurance-pyme-success