include /views/mixins/radio-button
include /views/mixins/buttons

//Pantalla 0
include /app/advisers/insurance/medical/search/medical-search-list
//Pantalla 1
include /app/advisers/insurance/medical/quotation-data/quotation-data
//Pantalla 2
include /app/advisers/insurance/medical/quotation-requotation/requotation-detail
//Pantalla 2
include /app/advisers/insurance/medical/emission/emission-container
//Pantalla 3
include /app/advisers/insurance/medical/delivery/policy-data


