include /views/mixins/radio-button
include /views/mixins/buttons

//Pantalla 1
include /app/advisers/insurance/houses/insurance-houses1
//Pantalla 2
include /app/advisers/insurance/houses/insurance-houses2
//Pantalla 3
include /app/advisers/insurance/houses/insurance-houses3
//Pantalla 4
include /app/advisers/insurance/houses/insurance-houses-confirmation
//Pantalla 5
include /app/advisers/insurance/houses/insurance-houses-success